In [2]:
import json
from urllib.request import urlopen
import pandas as pd

In [3]:
# API test
api_url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&apikey=demo'
with urlopen(api_url) as f:
    data = json.load(f)

In [4]:
symbol = data['Meta Data']['2. Symbol']

In [5]:
d = data['Time Series (Daily)'].items()
historical_data = list()

In [6]:
for key in d:
    historical_data.append(key[1]['4. close'])

In [7]:
name_price = {symbol:historical_data}

In [8]:
name_price

{'IBM': ['143.38',
  '143.79',
  '144.72',
  '144.74',
  '143.88',
  '143.19',
  '143.91',
  '145.11',
  '144.68',
  '144.17',
  '141.3',
  '144.22',
  '146.17',
  '145.46',
  '148.42',
  '145.22',
  '145.75',
  '144.75',
  '141.88',
  '144.24',
  '143.0',
  '142.01',
  '141.57',
  '142.43',
  '141.28',
  '143.55',
  '138.16',
  '133.12',
  '133.59',
  '132.58',
  '132.63',
  '131.18',
  '134.59',
  '135.73',
  '135.12',
  '134.93',
  '134.22',
  '135.93',
  '133.23',
  '133.26',
  '134.72',
  '135.86',
  '136.38',
  '133.07',
  '130.62',
  '130.46',
  '130.55',
  '128.9',
  '130.06',
  '129.03',
  '128.24',
  '128.58',
  '127.61',
  '127.14',
  '127.87',
  '124.18',
  '124.81',
  '122.83',
  '120.11',
  '122.36',
  '120.33',
  '120.74',
  '118.93',
  '122.47',
  '123.21',
  '120.71',
  '120.86',
  '118.99',
  '120.73',
  '119.97',
  '120.07',
  '120.8',
  '120.91',
  '122.24',
  '122.1',
  '123.61',
  '121.79',
  '121.02',
  '119.12',
  '119.44',
  '120.54',
  '119.11',
  '120.08',
  '122.47',
  '122.49',
  '118.58',
  '118.61',
  '131.65',
  '130.08',
  '129.02',
  '128.39',
  '128.97',
  '126.92',
  '129.21',
  '128.58',
  '128.53',
  '128.99',
  '129.29',
  '126.14',
  '123.94']}

In [9]:
df = pd.DataFrame(name_price)

In [10]:
df

       IBM
0   143.38
1   143.79
2   144.72
3   144.74
4   143.88
..     ...
95  128.53
96  128.99
97  129.29
98  126.14
99  123.94

[100 rows x 1 columns]