In [2]:
import json
from urllib.request import urlopen
import pandas as pd

In [3]:
# API test
api_url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&apikey=demo'
with urlopen(api_url) as f:
    data = json.load(f)

In [4]:
symbol = data['Meta Data']['2. Symbol']

In [5]:
d = data['Time Series (Daily)'].items()

In [24]:
df = pd.DataFrame(columns=['symbol', 'date', 'close', 'volume'])

In [38]:
for date, key in d:
    df = df.append({'symbol' : symbol,
                    'date' : date,
                    'close' : key['4. close'],
                    'volume' : key['6. volume']}, ignore_index=True)

In [39]:
df

    symbol        date   close   volume
0      IBM  2021-05-26  143.38  3083789
1      IBM  2021-05-25  143.79  3937323
2      IBM  2021-05-24  144.72  3297570
3      IBM  2021-05-21  144.74  4033482
4      IBM  2021-05-20  143.88  4112690
..     ...         ...     ...      ...
195    IBM  2021-01-08  128.53  4676487
196    IBM  2021-01-07  128.99  4507382
197    IBM  2021-01-06  129.29  7956740
198    IBM  2021-01-05  126.14  6114619
199    IBM  2021-01-04  123.94  5179161

[200 rows x 4 columns]